html, body
  height: 100%
  margin: 0
  font-size: 16px
  
.main-btn
  background-color: #000000
  border: none
  color: white
  padding: 20px 32px
  text-align: center
  text-decoration: none
  font-size: 16px
  border-radius: 50px

.team_container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  align-items: center
  justify-items: center

body
  background-color: gray
  padding: 0
  display: flex
  flex-direction: column

.page-content
  flex: 1

.team_member
  text-align: center
  margin: 1.25rem
  padding: 1rem
  width: 250px

.team_member img
  size: 80%
  width: 140px
  height: 140px
  border-radius: 50%
  object-fit: cover
  margin-bottom: 10px
  
.team_member h3
  font-size: 1.5rem
  margin: 0.5rem 0

.team_member p
  font-size: 1.1rem
  margin: 0.25rem 0

.team_member a
  text-decoration: none
  color: inherit

.team_member a:hover 
  color: #007BFF

.nimi_container
  display: grid
  grid-template-columns: 1fr 2fr
  align-items: center
  justify-items: center

.nimi_member
  text-align: center
  margin: 1.25rem
  padding: 1rem
  width: 250px

.nimi_member img
  size: 100%
  width: 200px
  height: 200px
  border-radius: 50%
  margin-bottom: 10px

.nimi_text
  text-align: left
  display: block
  font-size: 1em
  margin-top: 0.67em
  margin-bottom: 0.67em
  margin-left: 0
  margin-right: 0
  font-weight: bold

header
  background-color: #000000
  color: white
  height: 3.5em
  width: 100%
  top: 0

.gallery-container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  align-items: center
  justify-items: center

.gallery-item
  align-content: center
  text-align: center
  width: 15em
  margin: 1em

.gallery-image
  width: 100%

.gallery-title
  background-color: lightgrey
  font-weight: bold
  font-size: 0.8em
  padding: 0.2em
  margin: 0.5em 0 0 0

.footer
  width: 100%
  min-height: 7em
  align-content: center
  justify-items: center
  color: white
  background-color: black

  button
    text-align: center
    padding: 0.3em 2em
    height: 50%
    color: black
    background-color: white
    border-radius: 50px
    border: none
    
    &:hover
      cursor: pointer
      background-color: #b8b8b8

    &:active
      background-color: #6c6c6c

  .footer-contact
    width: 10em
    min-width: 196px
    justify-items: inherit
    cursor: default


  .hidden-input
    color: white
    border: dashed #fff
    border-width: 0 0 1px 0
    background-color: #ffffff00

    &:hover
      cursor: default

  .footer-grid
    align-items: center
    justify-items: center
    display: grid
    grid-template-columns: 1fr 1fr
    margin-left: 2vw

  .input-container
    width: fit-content

@media only screen and (max-width: 1100px)
  .gallery-container, .team_container
    grid-template-columns: repeat(3, 1fr)

  .gallery-item
    width: 13em



@media only screen and (max-width: 800px)
  .gallery-container, .team_container
    grid-template-columns: repeat(2, 1fr)

  .gallery-item
    width: 10em

  .html, body
    font-size: 14px

  .footer
    font-size: 12px

  .hidden-input
    width: 10em

  

.banner
  width: 100%
  height: 300px
  display: block
  background-image: url("assets/placeholder-landscape.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center
  top: 0px
  color: white
  font-size: 20px
  margin-top: 0
  padding: 0
