html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: gray;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  width: 100%;
}

.page-content h1 {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.main-btn {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 0;
}

.team_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.team_member {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  width: 250px;
}

.team_member img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.team_member h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.team_member p {
  font-size: 1.1rem;
  margin: 0.25rem 0;
}

.team_member a {
  text-decoration: none;
  color: inherit;
}

.team_member a:hover {
  color: #007BFF;
}

.nimi_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  flex: 1;
  align-self: stretch;
  min-height: calc(100vh - 80px - 7em);
}

.nimi_member {
  text-align: center;
  margin: 1.25rem;
  padding: 1rem;
  width: 250px;
}

.nimi_member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.nimi_text {
  text-align: left;
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.hallo {
  color: inherit;
  transition: color 1s ease;
  font: inherit;
}
.hallo:hover {
  color: red;
}

.header {
  position: relative;
  background-color: #000000;
  color: white;
  height: 500px;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 38px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.logo:hover {
  content: url("assets/vision-red.png");
}

.menu {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
.menu i {
  margin: 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.gallery-item {
  align-content: center;
  text-align: center;
  width: 15em;
  margin: 1em;
}

.gallery-image {
  width: 100%;
}

.gallery-title {
  background-color: lightgrey;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.2em;
  margin: 0.5em 0 0 0;
}

.footer {
  width: 100%;
  min-height: 7em;
  align-content: center;
  justify-items: center;
  color: white;
  background-color: black;
}
.footer button {
  text-align: center;
  padding: 0.3em 2em;
  height: 50%;
  color: black;
  background-color: white;
  border-radius: 50px;
  border: none;
}
.footer button:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}
.footer button:active {
  background-color: #6c6c6c;
}
.footer .footer-contact {
  width: 10em;
  min-width: 196px;
  justify-items: inherit;
  cursor: default;
}
.footer .hidden-input {
  color: white;
  border: dashed #fff;
  border-width: 0 0 1px 0;
  background-color: rgba(255, 255, 255, 0);
}
.footer .hidden-input:hover {
  cursor: default;
}
.footer .footer-grid {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2vw;
}
.footer .input-container {
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 1100px) {
  .gallery-container, .team_container, .nimi_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-item {
    width: 13em;
  }
}
@media only screen and (max-width: 800px) {
  .gallery-container, .team_container, .nimi_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-item, .team_member, .nimi_member {
    width: 10em;
  }
  html, body {
    font-size: 14px;
  }
  .footer {
    font-size: 12px;
  }
  .hidden-input {
    width: 10em;
  }
}
@media only screen and (max-width: 500px) {
  .gallery-container, .team_container, .nimi_container {
    grid-template-columns: 1fr;
  }
  .nimi_member, .gallery-item {
    width: 100%;
    margin: 0.5em auto;
  }
}
.banner {
  width: 100%;
  height: 200px;
  display: block;
  background-image: url("assets/placeholder-landscape.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  top: 0px;
  color: white;
  font-size: 20px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.banner h3 {
  margin-top: 0;
  padding-top: 0;
  margin-left: 40px;
  margin-right: 0;
  padding-bottom: 20px;
  font-size: 40px;
}

.homepage-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  padding-right: 40px;
  gap: 40px;
  margin: 40px;
  font-size: 20px;
}

.homepage-container br {
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */